@font-face {
    font-family: 'DOSGothic'; 
    font-style: 'normal';
    font-weight: normal; 
    src: url('font/DOSGothic.ttf') format('truetype'); 
}
@font-face {
    font-family: 'DunGeunMo'; 
    font-style: 'normal';
    font-weight: normal; 
    src: url('font/DungGeunMo.ttf') format('truetype'); 
}
@font-face {
    font-family: 'NEODunGeunMo'; 
    font-style: 'normal';
    font-weight: normal; 
    src: url('font/NeoDunggeunmoPro-Regular.woff'); 
}
@font-face {
    font-family: 'galmuri11'; 
    font-style: 'normal';
    font-weight: normal; 
    font-size-adjust: auto;
    src: url('font/Galmuri11.ttf'); 
}
@font-face {
    font-family: 'galmuri11BOLD'; 
    font-style: 'normal';
    font-weight: normal; 
    font-size-adjust: auto;
    src: url('font/Galmuri11-Bold.ttf'); 
}



* {
    font-family: 'NEODunGeunMo';
    color: aqua;
}

body {
    overflow: hidden;
    background-color: rgb(15, 15, 15);
}

header {
    background-color: black;

    display: flex;
    position: absolute;
    right: 10px;
    z-index: 1;

    box-sizing: border-box;
    width: 500px;
    height: 140px;
    margin: 20px;
    margin-right: 40px;
    padding: 10px;
}

#stockName {
    /* background-color: blue; */

    line-height: 90px;
    box-sizing: border-box;
    width: 500px;
    height: 85%;

    display: inline-block;
    position: absolute;
    right: 265px;

    text-align: right;
    overflow: visible;



    font-size: 70px;
    font-weight: bolder;

}

#etc {
    /* background-color:rebeccapurple; */

    /* padding: 20px; */
    box-sizing: border-box;
    width: 250px;
    height: 85%;
    text-align: right;

    display: inline-block;
    position: absolute;
    right: 0;
}

#date {
    font-size: 19px;
}

#curPrice {
    font-size: 57px;
}

#compared {
    font-size: 25px;
    margin-left: 30px;
    text-align: left;
}

nav {
    width: 50px;
    height: 120px;

    display: inline-block;
    position: absolute;

    top: 10px;
    left: 15px;

}

button {
    width: 42px;
    height: 42px;
    margin: 15px;

    background-color: black;
    border-color: aqua;
    border-radius: 3px;
    border-style: ridge;

    z-index: 2;
}

button:hover {
    cursor: pointer;
}

#setIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 21px;
    top: 21px;
    filter: invert(93%) sepia(100%) saturate(7500%) hue-rotate(104deg) brightness(104%) contrast(107%);
}

#infoIcon {
    width: 25px;
    height: 25px;
    margin-top: 2px;
    filter: invert(93%) sepia(100%) saturate(7500%) hue-rotate(104deg) brightness(104%) contrast(107%);
}