main{
    position:relative;
    top:160px;
}

.chart {
    width : 98vw;
    margin-left: 5px;
    justify-content:space-evenly;
    overflow: hidden;

    display: grid;
    grid-template-rows: repeat(80, 10px);
    grid-template-columns: repeat(150, 10px);
    grid-gap: 4px;
}

.dot {
    width : 11px;
    height: 11px;
    background-color: aqua;
}